@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    background-color: lightblue;
    color: darkblue;
}

.menu-item {
    margin: 5px;
    color: lightblue;
    text-decoration: none;
    background-color: darkblue;
    padding: 5px;
    border-radius: 5px;
}

table {
    width: 75%;
    background-color: antiquewhite;
}


th {
    background: aqua;
}

tr:nth-child(odd) {
    background: gray;
}

tr:nth-child(even) {
    background: grey;
    color: white;
}

.read{
    text-align: left;
}

.center-content {
    display:flex;
    align-items: center;
    align-content: center;
}

.circle {
    margin: 0 auto;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.online {
    background: chartreuse;
}

.offline {
    background: crimson;
}

.encrypted {
    color: gray;

}
.sup {
    position: relative;
    bottom: 1ex;
    font-size: 80%;
}

#msgtype{
    align-content: center;
}