{% extends "base-template.html" %}

{% block title %}
    Send Msg
{% endblock %}

{% block content %}
    <h1>You are sending a message to {{ receiver.name }}</h1>
    <form action="{{ url_for('bp_user.message_post') }}" method="POST">
        <input type="hidden" id="user-id" name="user_id" value="{{ receiver.id }}">
        <input type="hidden" id="user-pubkey" value="{{ receiver.public_rsa }}">
        <textarea name="body" id="body" placeholder="Message Body"></textarea> <br />
        <button type="button" class="send-button" onclick="encryptMessage()" >Submit</button>
    </form>
{% endblock %}


{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="{{ url_for('static', filename='js/rsa.js') }}"></script>

    <script>
    function encryptMessage() {
        let aesKey = CryptoJS.lib.WordArray.random(16).toString();

        let rsaEncrypt = new JSEncrypt();
        let publicKey = document.getElementById("user-pubkey").value;
        console.log(publicKey);
        let message = document.getElementById("body").value;


        //let msgJson = JSON.stringify(message);

        let encryptedMessage = CryptoJS.AES.encrypt(message, aesKey);

        rsaEncrypt.setPublicKey(publicKey);

        let encryptedAESKey = rsaEncrypt.encrypt(aesKey);

        let msgToSend = {
            receiverId: document.getElementById("user-id").value,
            encryptedMessage: encryptedMessage.toString(),
            encryptedKey: encryptedAESKey.toString()
        }

        let jsonStrToSend = JSON.stringify(msgToSend);
        fetch('http://127.0.0.1:5010/message', {
            method: "POST",
            headers: {
                "Content-type": "application/json"
            },
            body: jsonStrToSend
        }).then(()=>{
            location.href='/profile';
        });

    }

    </script>

{% endblock %}